/* .App {
  text-align: center;
} */
/* .navb__it {
  display: flex;
  align-items: center;
} */

.header-navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.siteapi.org/X19bQ4X8BHRIRsnYjzgD5hz9TGM=/fit-in/2000x/center/top/095a57e775e641a.s2.siteapi.org/img/3sgvz9p2mois88cwccgw4woo4ososc");
  background-size: cover;
  background-repeat: no-repeat;
}

/* .btnMenu {
    /* font-size: 100px; */
/* } */
.header-list {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 0 auto;
}

.menu-text {
  font-size: 80px;
  font-weight: 200;
}

.oplata {
  display: flex;
  align-items: center;
  padding-top: 58px;
}

.hr-header {
  margin-top: 1px;
  margin-left: 200px;
  padding-top: 0px;
  width: 1129px;
}

.p-text {
  text-align: center;
  font-size: 70px;
  font-weight: 100;
}

.inp-btn {
  display: flex;
  justify-content: space-around;
}

.addProduct {
  color: #fff;
}

.btnAdd {
  width: 130px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(34, 34, 57);
}
