.map_cont {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
.map__left {
  width: 600px;
  height: 400px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: flex;
  justify-content: start;
  margin-left: 190px;
  margin-bottom: 20px;
  font-size: 30px;
}
/* .cont__item {
    
  } */
.item__text {
  text-align: start;
  margin-top: 10px;
  color: rgb(184, 184, 184);
}

.bottom {
  width: 100%;
  height: 60px;
  background-color: rgb(26, 26, 26);
  color: white;
  text-align: center;
  /* padding-top: 50px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.logos {
  width: 50px;
  /* padding-left: 15px;
    padding-top: 10px; */
  padding: 10px 0px 0px 25px;
}

.bottom__box {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .map {
    width: 500px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .map {
    width: 400px;
  }
  .title {
    margin-left: 80px;
  }
  .item__text {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .map {
    width: 300px;
    height: 300px;
  }
}
